<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/site.css" />
  </head>
  <body>
    <h1>What's Really Going On</h1>
    <nav>
      <ul>
        <li><a href="/">articles</a></li>
      </ul>
    </nav>
    <div class="Content">
      <ul>
        {{#articles}}
          <li><a href="/article/{{.}}">{{.}}</a></li>
        {{/articles}}
      </ul>
      {{{ content }}}
    </div>
  </body>
</html>
