nav {
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: bold; 
  font-family: "Trebuchet MS";
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  font-size: 1em;
}

nav a,
nav a:visited {
  color: #AAA;
  text-decoration: none;
  border-bottom: solid 3px #AAA;
}

nav a:hover {
  color: #888;
  border-bottom: solid 3px #889;
}

.Content {
  padding: 2em;
}
